<% var currentPage = topic %>
<%- include("partials/frontend/header", {currentPage: currentPage, minimal: false}); %>
<h2><%= topic %></h2>
<div>
    <% data.forEach(item => { %>
        <div class="promo">
            <% if (item.image !== null) { %>
                <img src="<%= item.image %>" />
            <% } else { %>
                <img src="assets/test.png" />
            <% } %>
            <a href="/blog/<%= item.route %>"><h3><%= item.title %></h3></a>
            <p><%= item.date %></p>
            <p><%= item.blerb %></p>    
        </div>
    <% }); %>
</div>
<%- include("partials/frontend/footer") %>