<% var currentPage = "Post Form"; %>
<%- include("partials/header", {currentPage: currentPage});  %>

<div>
    <% if (locals.data) { %>
        <form action="/blog/admin/update" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= id %>"
            <label>
                Title?
                <input type="text" name="title" value="<%= data.title %>" />
            </label>
            <label>
                Route?
                <input type="text" name="route" value="<%= data.route %>" />
            </label>
            <label>
                Topic
                <input type="text" name="topic" />
            </label>
            <label>
                Photo?
                <input type="hidden" name="oldPath" value="<%= data.image %>" />
                <input type="file" name="image" accept="image/x-ping, image/jpg, image/jpeg" />
            </label>
            <textarea id="editor" name="content" rows="10"><%= data.content %></textarea>
            <label>
                Blerb(short description of the article)
                <textarea name="blerb"><%= data.blerb %></textarea>
            </label>
            <input id="submit" type="submit" value="Post" />
        </form>
    <% } else { %>
        <form action="/blog/admin/post" method="post" enctype="multipart/form-data">
            <label>
                Title?
                <input type="text" name="title" />
            </label>
            <label>
                Route?
                <input type="text" name="route" />
            </label>
            <label>
                Photo?
                <input type="file" name="image" accept="image/x-ping, image/jpg, image/jpeg" />
            </label>
            <textarea name="content" id="editor" rows="10"></textarea>
            <label>
                Blerb(short description of the article)
                <textarea name="blerb"></textarea>
            </label>
            <label>
                Topic
                <input type="text" name="topic" />
            </label>
            <input id="submit" type="submit" value="Post" />
        </form>
    <% } %>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
<script src="/formScript.js" type="module"></script>
<%- include("partials/footer.ejs") %>
