<% var currentPage = "Post Form"; %>
<%- include("partials/admin/header", {currentPage: currentPage});  %>

<div>
    <% if (locals.data) { %>
        <form id="post" action="/blog/admin/update" method="post" enctype="multipart/form-data">
            <% if (err !== false) { %>
                <p class="error"><%= err %></p>
            <% } %>
            <input type="hidden" name="id" value="<%= id %>"
            <label>
                Title?
                <input id="title" type="text" name="title" value="<%= data.title %>" />
            </label>
            <div>
                <label>
                    Route?
                    <input id="route" type="text" name="route" value="<%= data.route %>" />
                </label>
                <label>
                    Topic
                    <input id="topic" type="text" name="topic" />
                </label>
            </div>
            <label>
                Photo?
                <% if (data.image !== null) { %>
                    <input type="hidden" name="oldPath" value="<%= data.image %>" />
                    <img class="stamp" src="<%= data.image %>" />
                <% } %>
                <input class="image" type="file" name="image" accept="image/x-ping, image/jpg, image/jpeg"/>
            </label>
            <textarea id="editor" name="content"><%= data.content %></textarea>
            <label>
                Blerb(short description of the article)
                <textarea id="blerb" name="blerb"><%= data.blerb %></textarea>
            </label>
            <input id="location" type="text" name="location" onchange="handleChange(event, 'post')" hidden />
            <input class="submit" type="submit" value="Post" />
        </form>
    <% } else { %>
        <form id="post" action="/blog/admin/post" method="post" enctype="multipart/form-data">
            <% if (err !== false) { %>
                <p class="error"><%= err %></p>
            <% } %>
            <label>
                Title?
                <input id="title" type="text" name="title" />
            </label>
            <div>
                <label>
                    Route?
                    <input id="route" type="text" name="route" />
                </label>
                <label>
                    Topic
                    <input id="topic" type="text" name="topic" />
                </label>
            </div>
            <label>
                Photo?
                <input id="image" type="file" name="image" accept="image/x-ping, image/jpg, image/jpeg" />
            </label>
            <textarea name="content" id="editor" rows="10"></textarea>
            <label>
                Blerb(short description of the article)
                <textarea id="blerb" name="blerb"></textarea>
            </label>
            <input id="location" type="text" name="location" onchange="handleChange(event, 'post')" hidden />
            <input class="submit" type="submit" value="Post" />
        </form>
    <% } %>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
<script src="/admin/formScript.js" type="module"></script>
<%- include("partials/admin/footer.ejs") %>
