<% var currentPage = "home" %>
<%- include("partials/frontend/header", {currentPage: currentPage, minimal: false}); %>

<div class="container">
    <% data.forEach(item => { %>
        <div class="promo">
            <div class="title">
                <a href="/blog/<%= item.route %>"><h3><%= item.title %></h3></a>
                <p><%= item.date %></p>
            </div>
            <div class="content">
                <% if (item.image && item.image !== null) { %>
                    <img src="<%= item.image %>" />
                <% }; %>
                <p><%= item.blerb %></p>
    
            </div>
        </div>
    <% }); %>
</div>
<%- include("partials/frontend/footer") %>
