<% var currentPage = "Home" %>
<%- include("partials/frontend/header", {currentPage: currentPage, minimal: false}); %>

<div>
    <% data.forEach(item => { %>
        <div class="promo">
            <div class="title">
                <a href="/blog/<%= item.route %>"><h3><%= item.title %></h3></a>
                <p><%= item.date %></p>
            </div>
            <% if (item.image !== null) { %>
                <img src="<%= item.image %>" />
            <% } else { %>
                <img src="/assets/test.png" />
            <% } %>
            <p><%= item.blerb %></p>
        </div>
    <% }); %>
</div>
<%- include("partials/frontend/footer") %>
