<% var currentPage = "panel" %>
<%- include("partials/admin/header", {currentPage: currentPage}) %>
<div class="top">
    <h1>Admin Panel</h1>
    <a class="action" href="/blog/admin/write"><i title="new post" class="fa-solif fa-plus"></i></a>
</div>
<div class="list">
    <% data.forEach(item => { %>
        <div>
            <h3><%= item.title %></h3>
            <p><%= item.date %></p>
            <a class="action" href="/blog/admin/<%= item.route %>.edit"><i title="edit" class="fa-solid fa-pencil"></i></a>
            <form id="delete" action="/blog/admin/delete" method="post">
                <input type="hidden" name="id" value="<%= item.id %>" />
                <input type="hidden" name="path" value="<%= item.image %>">
                <input class="submit" type="submit" value="Delete">
            </form>
        </div>    
    <% }); %>
</div>
<%- include("partials/admin/footer") %>

