<% var currentPage = data.title %>
<%- include("partials/frontend/header", {currentPage: currentPage, minimal: true}); %>

<div>
    <h2><%= data.title %></h2>
    <p><%= data.date %></p>
</div>
<% if (data.image !==null) { %>
    <img src="<%= data.image %>" />
<% } else { %>
    <hr />
<% } %>
<div>
    <%- data.content %>
</div>
<%- include("partials/frontend/footer"); %>