<% var currentPage = data.title %>
<%- include("partials/frontend/header", {currentPage: currentPage, minimal: true}); %>

<div class="container">
    <h2><%= data.title %></h2>
    <% if (data.image !==null) { %>
        <img src="<%= data.image %>" />
    <% } else { %>
        <hr />
    <% } %>
    <div class="article">
        <%- data.content %>
    </div>
</div>
<%- include("partials/frontend/footer"); %>