<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Articles by Tray | <%= currentPage %></title>
        <script src="https://kit.fontawesome.com/41c1be0829.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/root-styles.css">
        <link rel="stylesheet" href="/frontend/styles.css" />
    </head>
    <nav <% if (minimal) { %>class="minimal" <% } %>>
        <% if (minimal) { %>
            <a href="#" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i></a>
        <% } %>
        <h1>Articles by Tray</h1>
        <% if (!minimal) { %>
            <div>
                <a class="<%= checkActive('home')  %>" href="/blog">Home</a>
                <a class="<%= checkActive('photography') %>" href="/blog/photography-posts">Photography</a>
                <a href="/blog/coding-posts">Coding</a>
                <a class="<%= checkActive('coding') %>" href="/blog/other-posts">Other</a>
                <a class="<%= checkActive('other') %>" href="/blog/about">About</a>
            </div>
        <% } %>
    </nav>
    <body>

<% function checkActive(page) {
    return page === currentPage ? 'active-page' : 'page';
} %>